.tree, .tree ul {
  margin: 0;
  padding: 0;
  list-style: none
}

.tree ul {
  margin-left: 1em;
  position: relative
}

.tree ul ul {
  margin-left: .5em
}

.tree ul:before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: 1px dotted #d9d9d9;
  font-size: 12pt;
}

.tree li {
  white-space: nowrap;
  margin: 0;
  padding: 0 1em;
  line-height: 2em;
  color: #369;
  font-weight: 500;
  position: relative;
  font-size: 11pt;
}

.tree ul li:before {
  content: "";
  display: block;
  width: 10px;
  height: 0;
  border-top: 1px dotted #E7E7E7;
  margin-top: -1px;
  position: absolute;
  top: 1em;
  left: 0
}

.tree ul li:last-child:before {
  background: #fff;
  height: auto;
  top: 1em;
  bottom: 0
}

.indicator {
  margin-right: 5px;
}

.leaf-marker {
  color: #F4F4F4;
  margin-right: 5px;
}

.nodeClicked {
  font-weight: 600;
  background-color: #FFE5D4;
  border-radius: 3px;
}

.tree li a {
  text-decoration: none;
  white-space: nowrap;
  padding:0px 2px 0px 2px;
  color: #555555;
  outline: none;
  outline: 0;
}

.tree li a:hover {
  color: #198BCB;
  font-weight: 600;
  background-color: #F8F8F8;
  border-radius: 3px;
  box-shadow: 2px 2px 12px -2px rgba(30%,30%,40%,0.3);
}

.tree li button, .tree li button:active, .tree li button:focus {
  text-decoration: none;
  color: #369;
  border: none;
  background: transparent;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  outline: none;
  outline: 0;
}
