
    <div class="col-sm-12 content">
        <h1 class="main-title"><i class="fas fa-edit"></i>檔案上傳</h1>
        <div class="form-blue form-horizontal">
            <div class="form-group">
                <label class="main-label col-sm-2" for="">選擇檔案</label>
                <div class="col-sm-10">
                    <input type="file" id="Text_UploadFile" name="Text_UploadFile" value="" class="form-control" accept=".xls,.xlsx"  />
                </div>
            </div>
            <div class="btnbar">
                <input type="submit" value="上傳" class="btn btn-blue" />
            </div>
        </div>
    </div> 
