@using EECOnline.Areas.A4.Models;
@using EECOnline.Services;
@model C103MFormModel

@if (Model.Grid != null)
{
    for (int i = 0; i < Model.Grid.Count; i++)
    {
        var item = Model.Grid[i];
        <tr>
            <td align="center">@item.LoginTypeText</td>
            <td align="center">@item.CountNum</td>
        </tr>
    }
}