
/**
 * -------------------
 *  Global 
 * -------------------
 */
html {
	font-size: 20px;
}

@media (max-width:992px) {
	html {
		font-size: 18px;
	}

}

@media (max-width:768px) {
	html {
		font-size: 17px;
	}

}

@media (max-width:576px) {
	html {
		font-size: 16px;
	}

}

body {
	background-color: #fff;
	color: #090C08;
	font-family: houschka-pro, source-han-sans-traditional, Noto Sans TC, -apple-system, "Helvetica Neue", Helvetica, Arial, "Microsoft JhengHei", "微軟正黑體", "PingFang SC", "Noto Sans CJK TC", sans-serif;
	font-weight: normal;
	line-height: 1.5;
	margin: 0;
	min-height: 100%;
	text-rendering: optimizeSpeed;
}

/* houschka-pro --> 300 500 600 700 */
/* source-han-sans-traditional --> 300 400 500 700 */

a {
	color: #2DBECD;
	text-decoration: none;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

a:hover {
	color: #96D7D2;
}

a a[href^="http"]:empty:before {
	content: attr(href);
}

figure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.5;
}

::-moz-selection {
	color: #fff;
	background-color: rgba(9, 12, 8, .38);
}

::selection {
	color: #fff;
	background-color: rgba(9, 12, 8, .38);
}

.ch {
	font-family: source-han-sans-traditional;
}

.en {
	font-family: houschka-pro;
}

.n--btn {
	display: inline-block;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #E8E9EB;
	border-radius: 4px;
	color: #373E4B;
	cursor: pointer;
	font-size: 0.8rem;
	text-align: center;
	padding: 0.6rem 1.1rem;
	outline: none;
	line-height: 1.5;
	text-decoration: none;
	white-space: nowrap;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.n--btn:hover:not(:disabled):not(.disabled):not(.btn--disabled),
.n--btn.hover:not(:disabled):not(.disabled):not(.btn--disabled) {
	background-color: #E8E9EB;
	border-color: #D2D4D7;
	color: #1E2229;
	text-decoration: none;
}

.n--btn:active:not(:disabled):not(.disabled):not(.btn--disabled),
.n--.btn.active:not(:disabled):not(.disabled):not(.btn--disabled) {
	background-color: #D2D4D7;
	border-color: #BCBEC3;
	color: #121419;
}

.n--btn:focus:not(:disabled):not(.disabled):not(.btn--disabled),
.n--btn.focus:not(:disabled):not(.disabled):not(.btn--disabled) {
}

.n--btn.btn--disabled,
.n--btn.disabled,
.n--btn:disabled {
	cursor: not-allowed;
	opacity: 0.65;
	box-shadow: none;
}

/**
 * -------------------
 *  HEADER 
 * -------------------
 */
.spr-header {
	background-color: #2DBECD;
	color: #fff;
	padding: 1rem 0;
}

.spr-heading {
}

.spr-heading h1 {
/* 	font-size: 1.2rem; */
}

.spr-heading h1.ch {
	font-size: 1.6rem;
	font-weight: 500;	/* source-han-sans-traditional --> 300 400 500 700 */
}

.spr-heading h1.en {
	font-size: 1.2rem;
	font-weight: 700;	/* houschka-pro --> 300 500 600 700 */
}

/**
 * -------------------
 *  HERO 
 * -------------------
 */

.spr-hero {
	background-color: #ABE5EB;
	/* border-top: 1px solid #fff; */
	padding: 1rem 0 1.4rem 0;
}

.spr-hero .spr-sub-heading {
	position: relative;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
    box-shadow: inset 0 0 30px rgb(0 0 0 / 10%), 1px 1px 3px rgb(0 0 0 / 20%);
	padding: .8rem;
	z-index: 1;
}

.spr-hero .spr-sub-heading:before ,
.spr-hero .spr-sub-heading:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
    box-shadow: inset 0 0 30px rgb(0 0 0 / 10%), 1px 1px 3px rgb(0 0 0 / 20%);
    opacity: .82;
}

.spr-hero .spr-sub-heading:before {
    transform: rotateZ(.57deg);
}

.spr-hero .spr-sub-heading:after {
    transform: rotateZ(-.75deg);
}

.spr-sub-heading h3 {
	position: relative;
	color: #373E4B;
	font-size: 0.8rem;
	display: inline-block;
	margin: 0 0 .25rem 0;

	z-index: 0;
}


.spr-sub-heading h3.ch {
	font-weight: 500;	/* source-han-sans-traditional --> 300 400 500 700 */
}

.spr-sub-heading h3.en {
	font-weight: 600;	/* houschka-pro --> 300 500 600 700 */
}

.spr-hero .info-btn-group {
display: inline-block
}

.info-btn-group .info-btn {
	background-color: $tertiary:;
	border: none;
	color: #373E4B;
	text-align: left;
	transform: translateY(0px);
	transition: all ease-in-out .125s;
	will-change: transform,box-shadow;
}

.info-btn.n--btn:hover:not(:disabled):not(.disabled):not(.btn--disabled),
.info-btn.n--btn.hover:not(:disabled):not(.disabled):not(.btn--disabled) {
	background-color: #FFD35B;
}

.info-btn.n--btn:active:not(:disabled):not(.disabled):not(.btn--disabled),
.info-btn.n--btn.active:not(:disabled):not(.disabled):not(.btn--disabled) {
	background-color: #F3BE2F;
	transform: translateY(6px);
}

.info-btn.n--btn:focus:not(:disabled):not(.disabled):not(.btn--disabled),
.info-btn.n--btn.focus:not(:disabled):not(.disabled):not(.btn--disabled) {
	background-color: #FFDE84;
	transform: translateY(6px);
}

.info-btn h2.ch {
	font-size: 1.1rem;
	font-weight: 700;	/* source-han-sans-traditional --> 300 400 500 700 */
}

.info-btn h2.en {
	font-size: .8rem;
	font-weight: 600;	/* houschka-pro --> 300 500 600 700 */
}




















/** –––––––––––––––––––
//  SECTION
// –––––––––––––––––––– */
.spr-form {
}

.jconfirm-box div.title i {
	margin-top: 3px;
	margin-left: 10px;
}

.jconfirm-box div.title i.glyphicon-warning-sign {
	color: #990000;
}

.jconfirm-box div.title i.glyphicon-ok {
	color: #000099;
}

.blockAlertTitle {
	font-family: 微軟正黑體;
	color: #990000;
	font-weight: bold;
	float: left;
}

.blockAlertMessage {
	font-family: 微軟正黑體;
	color: #1199cd;
	font-size: 14px;
}

.blockMessageTitle {
	font-family: 微軟正黑體;
	color: #000099;
	font-weight: bold;
	float: left;
}

.blockMessage {
	font-family: 微軟正黑體;
	color: #1199cd;
	font-size: 14px;
}
