@using EECOnline.Areas.A6.Models;
@model C103MDetailModel
@{
    Layout = "~/Views/Shared/_Back_MainLayout_NoHeader_NoBg.cshtml";
}

<div class="col-sm-12 content">
    @using (Html.BeginForm("Detail", "C103M", FormMethod.Post, htmlAttributes: new { id = "main_form", @class = "form-horizontal" }))
    {
        var button = new Dictionary<string, string>();
        button.Add("save", "doSave()");
        //button.Add("bind", "doBind()");
        if (!Model.IsNew) { button.Add("delete", "doDelete()"); };
        button.Add("close", "doClose()");

        @Html.ControlForTurbo(Model,Model.IsNew);
        @Html.ButtonForTurbo(button)
    }
</div>

<script type="text/javascript">

    $(document).ready(function () {
		var suthstatus = $('#authstatus').val();
        if (suthstatus == "2") {
		    $('#authstatus').attr("disabled", true);
	    }
        else {
            $('#authstatus').attr("disabled", false);
            $('#authstatus option:last').remove();
	    }
    })

    //儲存
    function doSave() {
        blockUI()
        $('#authstatus').removeAttr('disabled');
        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action("Save")').submit();
    }

     //儲存
    function doBind() {
        blockMessage('綁定成功!');
    }

     //刪除
    function doDelete() {
        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action("Delete")').submit();
    }

    //關閉
    function doClose() {
        parent.closeWindow();
    }
</script>
