<?xml version="1.0" encoding="utf-8"?>
<settings>
    <add key="dbTypeSQLServer"
         value="SQLSERVER" />
    <add key="providerSQLClient4"
         value="SQLClient4.0" />
    <!-- SQL2016測試DB -->
    <add key="connectionEUSERVICE"
         value="Data Source=172.16.25.38;initial catalog=EEC_PD_DB;User Id=eecdb02;Password=Ab@#WE$R250813;Connection Timeout=99" />
</settings>