<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<properties resource="properties.config"/>

	<settings>
		<setting useStatementNamespaces="true"/>
	</settings>

	<providers resource="providers.config"/>

	<!-- Database connection information -->
	<database>
		<!-- parameters ${xxxxx} arr defined within 'properties.config' -->
		<provider name="${providerSQLClient4}"/>
		<dataSource name="EECOnline" connectionString="${connectionEUSERVICE}" />
	</database>

	<sqlMaps>
		<!--基本屬性-->
		<sqlMap resource="./SqlMaps/Commons.xml" />
		<!--共用代碼-->
		<sqlMap resource="./SqlMaps/KeyMap.xml" />
		<!--共用功能dialog之類-->
		<sqlMap resource="./SqlMaps/SHARE.xml" />
		<!--功能-->
		<sqlMap resource="./SqlMaps/AM.xml" />
		<!--報表-->
		<sqlMap resource="./SqlMaps/Report.xml" />
		<!--帳號-->
		<sqlMap resource="./SqlMaps/Login.xml" />
		<!--首頁-->
		<sqlMap resource="./SqlMaps/Front.xml" />
		<!--病歷設定管理-->
		<sqlMap resource="./SqlMaps/A1.xml" />
		<!--申辦案件管理-->
		<sqlMap resource="./SqlMaps/A2.xml" />
		<!--帳務計算管理-->
		<sqlMap resource="./SqlMaps/A3.xml" />
		<!--報表統計管理-->
		<sqlMap resource="./SqlMaps/A4.xml" />
		<!--帳號管理-->
		<sqlMap resource="./SqlMaps/A5.xml" />
		<!--系統權限管理-->
		<sqlMap resource="./SqlMaps/A6.xml" />
		<!--病歷設定管理-->
		<sqlMap resource="./SqlMaps/A7.xml" />
		<!--紀錄查詢-->
		<sqlMap resource="./SqlMaps/A8.xml" />
		<!--後台案件-->
		<sqlMap resource="./SqlMaps/BackApply.xml" />
	</sqlMaps>

</sqlMapConfig>