<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請瀏覽
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <section name="iBATIS_logging" type="IBatisNet.Common.Logging.ConfigurationSectionHandler, IBatisNet.Common" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EECOnline.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <!-- === 本機 Docker SQL Server (Local Development) === -->
    <add name="connectionEUSERVICE" connectionString="Data Source=127.0.0.1,1433;initial catalog=EEC_PD_DB;persist security info=True;User Id=sa;Password=YourStrong!Passw0rd;MultipleActiveResultSets=True;Encrypt=False" />
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1,1433;initial catalog=EEC_PD_DB;persist security info=True;User Id=sa;Password=YourStrong!Passw0rd;Encrypt=False" />
    
    <!-- === 正式環境 SQL2016 測試 DB (Production/Staging) === -->
    <!-- <add name="connectionEUSERVICE" connectionString="Data Source=172.16.25.38;initial catalog=EEC_PD_DB;persist security info=True;User Id=eecdb02;Password=Ab@WE$R250813;MultipleActiveResultSets=True" /> -->
    <!-- <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=172.16.25.38;initial catalog=EEC_PD_DB;persist security info=True;User Id=eecdb02;Password=Ab@#WE$R250813" /> -->
  </connectionStrings>

  <!--20181005 加入 location 設定避免子網站繼承父網站 Web.config（原因：技檢 1.0 電子抽籤網站「虛擬目錄」要掛在技檢 2.0 EECOnline「虛擬目錄」內）-->
  <location path="." inheritInChildApplications="false">
    <iBATIS_logging>
      <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.Log4NetLoggerFA, IBatisNet.Common.Logging.Log4Net">
        <arg key="configType" value="external" />
      </logFactoryAdapter>
    </iBATIS_logging>
  </location>

  <!--20181005 加入 location 設定避免子網站繼承父網站 Web.config（原因：技檢 1.0 電子抽籤網站「虛擬目錄」要掛在技檢 2.0 EECOnline「虛擬目錄」內）-->
  <location path="." inheritInChildApplications="false">
    <system.web.webPages.razor>
      <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <pages pageBaseType="System.Web.Mvc.WebViewPage">
        <namespaces>
          <add namespace="System.Web.Mvc" />
          <add namespace="System.Web.Mvc.Ajax" />
          <add namespace="System.Web.Mvc.Html" />
          <add namespace="System.Web.Optimization" />
          <add namespace="System.Web.Routing" />
          <add namespace="EECOnline" />
          <add namespace="Turbo" />
          <add namespace="Turbo.Commons" />
          <add namespace="Turbo.ReportTK" />
          <add namespace="Turbo.Helpers" />
        </namespaces>
      </pages>
    </system.web.webPages.razor>
  </location>

  <!--20181005 加入 location 設定避免子網站繼承父網站 Web.config（原因：技檢 1.0 電子抽籤網站「虛擬目錄」要掛在技檢 2.0 EECOnline「虛擬目錄」內）-->
  <location path="." inheritInChildApplications="false">
    <appSettings>
      <add key="vs:EnableBrowserLink" value="false" />
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />

      <!-- 主機環境角色設定: 1.內網環境, 2.外網環境 -->
      <add key="NetID" value="1" />

      <!--
      (測試開發用)
      啟用壓力測試模式(會使用模擬的帳號及角色覆寫登入者資訊)
      Y: 啟用,
      其他: 停用
      -->
      <!--
      <add key="StressTestMode" value="Y" />
      <add key="StressTestUserNo" value="johnsoncj" />
      -->

      <!--
      設定是否停用 Authorize 權限檢核 (測試開發用):
        2:  當系統管理者角色時停用, AuthorizeRequired 沒作用直接 bypass
        1:  全部停用, AuthorizeRequired 沒作用直接 bypass
        0:  未停用
      -->
      <add key="DisableAuthorize" value="1" />
      <!--
      設定在 ErrorPage 中是否要顯示錯誤 Exception 訊息及 Stacktrace,
      但若在 localhost 執行, 則不受此設定影響, 一律顯示 Exception 訊息及 Stacktrace:
      0. 不顯示
      1. 顯示 Exception Message
      2. 顯示 Exception Message 及 Stacktrace
      -->
      <add key="ErrorPageShowExeption" value="2" />

      <!-- 電子抽籤網站連結網址（AT/C201 畫面查詢結果資料會使用到） -->
      <add key="BallotUrl" value="http://172.28.11.92/Ballot/Ballot.aspx" />

      <!-- 檔案上傳路徑(相對於 ContextRoot) -->
      <add key="UpLoadFile" value="/Uploads" />

      <!-- 系統暫存路徑(相對於 ContextRoot) -->
      <add key="TempPath" value="/App_Data/Temp" />

      <!-- 系統郵件服務主機 IP -->
      <!-- <add key="MailServer" value="mail.vac.gov.tw" />-->
      <add key="MailServer" value="mail.turbotech.com.tw" />
      <!-- 系統郵件寄件者帳號-->
      <!-- <add key="MailSenderAddr" value="EECOnline@mail.vac.gov.tw" />-->
      <add key="MailSenderAddr" value="service@turbotech.com.tw" />
      <!-- 系統郵件寄件者使用者帳號-->
      <!--<add key="MailSenderPwd" value="qwer@1234567" />-->
      <add key="MailSenderUserNo" value="" />
      <!-- 系統郵件寄件者密碼-->
      <!--<add key="MailSenderPwd" value="qwer@1234567" />-->
      <add key="MailSenderPwd" value="" />
      <!-- ===================================== -->
      <!-- FTP Nas Server -->
      <!-- ===================================== -->
      <add key="FtpNasServer" value="ftp://172.28.100.39/CLA_FILEUPLOAD/" />
      <add key="FtpNasUser" value="" />
      <add key="FtpNasPassword" value="" />

      <!-- 啟用內網使用者「12-20 碼密碼長度」檢查。（Y: 啟用，N: 不啟用 (即維持原 8-20 碼密碼長度)）-->
      <add key="Net1UserPwdLen1220Check" value="N" />

      <!-- 系統主功能表樣式（0: 系統預設樣式，1: 樹型樣式）-->
      <add key="MainMenuType" value="1" />

      <!-- （0: 測試環境，1: 正式環境）-->
      <add key="OnOrOff" value="0" />

      <!-- HCA（0: 關閉，1: 開啟）-->
      <add key="HCAOnOff" value="0" />

      <!-- （0: 測試環境，1: 正式環境)資料-->
      <add key="OnOrOffData" value="0" />

       <!-- 自然人憑證（0: 測試環境，1: 正式環境）-->
      <add key="level1OnOrOff" value="0" />

      
      <!--
      報表圖片引用基礎網址
      因為經負載平衡進來,  Request 抓到的網址在主機端不適用
      會造成轉 PDF 圖片出不來, 所以明確設定
      -->
      <!--<add key="ReportBaseUrl" value="http://localhost:803/cla/" />-->

      <!--
        A4 民眾申訴 IMGAE UNC
      -->
      <!--<add key="A4ImageUNC" value="\\127.0.0.1\image\" />-->
      <add key="A4ImageUNC" value="~/image/" />
		
      <!-- Hospital_Common_Api use LoginUser/LoginPwd -->
      <add key="LoginUser" value="A21030000I" />
      <add key="LoginPwd" value="I0023A" />

    </appSettings>
  </location>

  <!--20181005 加入 location 設定避免子網站繼承父網站 Web.config（原因：技檢 1.0 電子抽籤網站「虛擬目錄」要掛在技檢 2.0 EECOnline「虛擬目錄」內）-->
  <location path="." inheritInChildApplications="false">
    <system.web>
      <customErrors mode="Off" />
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" maxRequestLength="10240" />
      <webServices>
        <protocols>
          <add name="HttpSoap" />
          <add name="HttpPost" />
          <add name="HttpGet" />
          <add name="Documentation" />
        </protocols>
      </webServices>
      <!--<sessionState mode="StateServer"
          stateConnectionString="tcpip=127.0.0.1:42424"
          cookieless="false"
          timeout="20" />-->
    </system.web>
  </location>

  <!--20181005 加入 location 設定避免子網站繼承父網站 Web.config（原因：技檢 1.0 電子抽籤網站「虛擬目錄」要掛在技檢 2.0 EECOnline「虛擬目錄」內）-->
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <httpErrors errorMode="Detailed" />
      <modules runAllManagedModulesForAllRequests="true" />
      <httpProtocol>
        <customHeaders>
          <!--置定 IE 瀏覽器兼容模式-->
          <add name="X-UA-Compatible" value="IE=edge,chrome=1" />
          <!--防止 X-Frame-Option 攻擊-->
          <add name="X-Frame-Options" value="SAMEORIGIN" />
          <!--<add name="X-Frame-Options" value="DENY" />--> <!--20220818以前改黑箱 會造成後台WinPopup失效-->

          <!--防止 跨站點腳本(XSS)及數據注入 攻擊-->
          <!-- <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self';base-uri 'self';form-action 'self'; font-src 'self'; object-src 'self';media-src 'self';frame 'self' ; child 'self; worker 'self'; manifest 'self';prefetch 'self' '" />-->
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering>
          <!--限制 QueryString 長度最大 4 KB，上傳檔案長度最大 32 MB-->
          <requestLimits maxQueryString="4096" maxAllowedContentLength="33554432" />
          <fileExtensions allowUnlisted="true">
            <remove fileExtension=".mdb" />
            <add fileExtension=".mdb" allowed="true" />
          </fileExtensions>
        </requestFiltering>
      </security>
      <staticContent>
        <remove fileExtension=".eot" />
        <remove fileExtension=".otf" />
        <remove fileExtension=".ttf" />
        <remove fileExtension=".woff" />
        <remove fileExtension=".woff2" />
        <remove fileExtension=".svg" />
        <remove fileExtension=".7z" />
        <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
        <mimeMap fileExtension=".otf" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        <mimeMap fileExtension=".7z" mimeType="application/x-7z-compressed" />
        <mimeMap fileExtension=".odt" mimeType="application/vnd.oasis.opendocument.text" />
      </staticContent>
    </system.webServer>
  </location>


  <system.web>
    <!--本機或測試機請備註此段，否則會造成登入畫面驗證碼錯誤之問題-->
    <!-- 20230515 解決弱點掃描的中風險 加密的階段作業(SSL) Cookie中遺漏安全屬性
       (Cookie Security: Cookie not Sent Over SSL)-->
    <!-- Disabled for local development - requireSSL="true" causes login validation code error -->
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IBatisNet.Common" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.6.2.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IBatisNet.DataMapper" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.9.9" newVersion="1.6.2.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <EECOnline.Properties.Settings>
      <setting name="EUSERVICE_tw_gov_etraining_elite_get_data" serializeAs="String">
        <value>https://elite.etraining.gov.tw/lpf_wsv/get_data.asmx</value>
      </setting>
      <setting name="EUSERVICE_tw_gov_etraining_elite1_get_pay" serializeAs="String">
        <value>https://elite.etraining.gov.tw/bliws/get_pay.asmx</value>
      </setting>
      <setting name="EUSERVICE_tw_gov_etraining_elite2_WebTimeTable" serializeAs="String">
        <value>https://elite.etraining.gov.tw/ELIT/WebService/WebTimeTable.asmx</value>
      </setting>
      <setting name="EUSERVICE_tw_gov_etraining_elite3_WebAbsence" serializeAs="String">
        <value>https://elite.etraining.gov.tw/ELIT/WebService/WebAbsence.asmx</value>
      </setting>
      <setting name="EUSERVICE_tw_gov_etraining_elite4_WebLeaveStatus" serializeAs="String">
        <value>https://elite.etraining.gov.tw/ELIT/WebService/WebLeaveStatus.asmx</value>
      </setting>
      <setting name="EUSERVICE_tw_gov_etraining_yvtp_WebClass" serializeAs="String">
        <value>https://yvtp.etraining.gov.tw/WebService/WebClass.asmx</value>
      </setting>
      <setting name="EUSERVICE_tw_gov_etraining_elite5_get_data" serializeAs="String">
        <value>https://elite.etraining.gov.tw/trnapply/get_data.asmx</value>
      </setting>
      <setting name="EUSERVICE_WebReference_EUSERVICE" serializeAs="String">
        <value>http://192.168.0.70:9000/WebServices/EECOnline.asmx</value>
      </setting>
      <setting name="EECOnline_tw_org_csh_sysint_MedRecApply" serializeAs="String">
        <value>https://sysint.csh.org.tw/MedRecApply/MedRecApply.asmx</value>
      </setting>
    </EECOnline.Properties.Settings>
  </applicationSettings>
</configuration>