@using EECOnline.Areas.A5.Models;
@using EECOnline.Models;
@model C102MFormModel
@{
    Layout = "~/Views/Shared/_Back_MainLayout.cshtml";
    SessionModel sm = SessionModel.Get();
}

<div class="col-sm-12 content">
    <!-- H1 title -->
    <h1 class="main-title" style="margin-top: unset;"><i class="fa fa-edit"></i>@sm.LastActionFunc.prgname</h1>
    <div class="form-blue">
        @using (Html.BeginForm("Index", "C102M", FormMethod.Post, htmlAttributes: new { id = "main_form", @class = "form-horizontal" }))
        {
            var button = new Dictionary<string, string>();
            button.Add("e_send", "doSend()");
            button.Add("reset_fuc", "doReset_fuc()");

            @Html.ControlForTurbo(Model);
            @Html.ButtonForTurbo(button)
        }
    </div>
</div>
<script type="text/javascript">
    // 送出
    function doSend() {
        blockUI();
        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action("Send")').submit();
    }
    /// 重填
    function doReset_fuc() {
        $('#idno').val('');
        $('#userno').val('');
        $('#email').val('');
    }
</script>
