@{
    Layout = null;
}

<div class="col-sm-12">
    <center>
        <table>
            <tr>
                <td align="center">
                    範例1
                    <table border="1" cellspacing="1" cellpadding="3">
                        <tr bgcolor="#E7E7E7">
                            <td rowspan="2" align="center">申請證明類（科）別</td>
                            <td rowspan="2" align="center">份數</td>
                            <td colspan="2" align="center">辦理方式</td>
                        </tr>
                        <tr bgcolor="#E7E7E7">
                            <td align="center">分開（元）</td>
                            <td align="center">合併</td>
                        </tr>
                        <tr bgcolor="#FFFFFF">
                            <td align="center">護士</td>
                            <td align="center">1</td>
                            <td align="center">500</td>
                            <td rowspan="4" align="center">500</td>
                        </tr>
                        <tr bgcolor="#FFFFFF">
                            <td align="center">助產士</td>
                            <td align="center">1</td>
                            <td align="center">500</td>
                        </tr>
                        <tr bgcolor="#FFFFFF">
                            <td align="center">護理師</td>
                            <td align="center">1</td>
                            <td align="center">500</td>
                        </tr>
                        <tr bgcolor="#FFFFFF">
                            <td align="center">內科專科護理師</td>
                            <td align="center">1</td>
                            <td align="center">500</td>
                        </tr>
                        <tr bgcolor="#FFFFFF">
                            <td align="center">總計</td>
                            <td align="center">4</td>
                            <td align="center">2000</td>
                            <td align="center">500</td>
                        </tr>
                    </table>

                    <br><br><hr align="center" size="2" width="450" noshade><br><br>

                    範例2
                    <table border="1" cellspacing="1" cellpadding="3">
                        <tr bgcolor="#E7E7E7">
                            <td rowspan="2" align="center">申請證明類（科）別</td>
                            <td rowspan="2" align="center">份數</td>
                            <td colspan="2" align="center">辦理方式</td>
                        </tr>
                        <tr bgcolor="#E7E7E7">
                            <td align="center">分開（元）</td>
                            <td align="center">合併</td>
                        </tr>
                        <tr bgcolor="#FFFFFF">
                            <td align="center">醫師</td>
                            <td align="center">1</td>
                            <td align="center">500</td>
                            <td rowspan="3" align="center">500</td>
                        </tr>
                        <tr bgcolor="#FFFFFF">
                            <td align="center">家庭醫學科專科醫師</td>
                            <td align="center">1</td>
                            <td align="center">500</td>
                        </tr>
                        <tr bgcolor="#FFFFFF">
                            <td align="center">護內科專科醫師</td>
                            <td align="center">1</td>
                            <td align="center">500</td>
                        </tr>
                        <tr bgcolor="#FFFFFF">
                            <td align="center">總計</td>
                            <td align="center">3</td>
                            <td align="center">1500</td>
                            <td align="center">500</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <br><br><font color="red">證明書規費：每一類(科)別第一份 500 元整；申請第二份（含）起，每份 200 元整。
                </td>
            </tr>
        </table>
    </center>
</div>
