@model ES.Models.QAViewModel
@using ES.Utils
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "問與答";
}

@using (Html.BeginForm("FAQ", "Login"))
{
    <div class="container-fluid">
        <!--bread -->
        <div class="col-sm-12">
            <div class="breadlink"><i class="fas fa-home"></i><a href="@(Url.Action("Index", "Login"))">首頁</a> > <a href="#">@Html.Raw(ViewBag.Title)</a></div>
        </div>
        <div class="clearfix"></div>
        <!--form-->
        <h3 class="note-title note-titlebar-blue">問與答</h3>
        <div class="form-set">
            @if (Model.grids != null && Model.grids.Count > 0)
            {
                foreach (var item in Model.grids.OrderBy(x => x.SEQ))
                {
                    <span style="color: #006699;">Q：@Html.Raw(item.TITLE)</span>
                    <ul>
                        <li style="margin-bottom: 5px;">A:@Html.Raw(item.CONTENT)</li>
                    </ul>
                }
            }
        </div>
    </div>
}
<script type="text/javascript">

</script>