@model ES.Areas.Admin.Models.Apply_011004FormModel
<!--2-->
<div class='panel panel-info'>
    <div class='panel-heading'>
        <h2 class='panel-title' data-toggle='collapse' data-parent='#ApplyData' href='#ApplyData'>
            <a>上傳應附檔案(點擊展開)</a>
        </h2>
    </div>
    <div id='ApplyData' class='panel-collapse collapse'>
        <div class='panel-body'>
            <div class="form-blue">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="step-label col-sm-2" for="">社會工作師證書影本</label>
                        <div class="col-sm-10">
                            @if (Model.FileList.FILENAM != null && Model.FileList.FILENAM.Count > 0)
                            {
                                var item = Model.FileList.FILENAM.FirstOrDefault();
                                @Html.FileDLForTurbo(m => item.FILE_NAME, item.FILE_NAME_TEXT)
                            }
                        </div>
                    </div>
                </div>

                <div class="btnbar">
                    <button type="button" onclick="GetZip('@Model.APP_ID')" class="btn btn-blue">檔案打包下載</button>
                </div>
            </div>
        </div>
    </div>
</div>
