@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>衛生福利部線上申辦維護系統</title>
</head>
<frameset cols="100%,0"> 
    <frame name="Preview"> 
    <frame name="Preview2">
</frameset>
</html>
