@{
    ViewBag.Title = "隱私權政策及安全宣告";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div  class="col-sm-12" style="line-height:140%;">
    <span style="font-size: 1.2em; font-weight: bold;">「衛生福利部人民申請案件線上服務系統」隱私權保護政策</span>
    <hr style="height: 8px; background-color: #CC6699; border-width: 0px;" />
　　    感謝您蒞臨「衛生福利部人民申請案件線上服務系統」網站，您個人的隱私權，「衛生福利部人民申請案件線上服務系統」絕對尊重並予以保護。為了幫助您瞭解，「衛生福利部人民申請案件線上服務系統」如何蒐集、應用及保護您所提供的個人資訊，請您務必詳細閱讀下列資訊：
    <hr />
    <span style="color: #006699; line-height: 200%;">‧關於政策適用範圍</span>
    <br />
　　    以下的隱私權政策，適用於您在「衛生福利部人民申請案件線上服務系統」網站活動時，所涉及的個人資料蒐集、運用與保護，但不適用於與本網站功能連結之各政府機關網站與繳費網站。凡經由「衛生福利部人民申請案件線上服務系統」連結之線上案件申請網站或繳費網站，不論是由衛生福利部各機關獨立經營、由全國各級政府機關獨立經營或是其他機關、團體、公司與「衛生福利部人民申請案件線上服務系統」聯名經營，各網站均有其專屬之隱私權政策，「衛生福利部人民申請案件線上服務系統」不負任何連帶責任。當您在這些網站進行線上案件申請時，關於個人資料的保護，適用各該網站的隱私權政策。
    <br /><br /><br />
    <span style="color: #006699;">‧關於個人資料之蒐集</span>
    <ul>
        <li style="margin-bottom: 5px;">單純在「衛生福利部人民申請案件線上服務系統」網站的瀏覽及檔案下載行為，本網站並不會蒐集任何有關個人的身份資料。</li>
        <li style="margin-bottom: 5px;">利用「衛生福利部人民申請案件線上服務系統」所提供的各項線上申請服務，需申請人提供個人資料時，各承辦機關會依案件辦理需求請您提供姓名、身分證字號、聯絡電話、e-mail、通訊住址及戶籍地址等個人最新、最真實之資料。</li>
        <li style="margin-bottom: 5px;">網站會紀錄使用者上站的IP位址、上網時間以及在網站內所瀏覽的網頁等資料，這些資料係供「衛生福利部人民申請案件線上服務系統」網站管理機關內部作網站流量和網路行為調查的總量分析，以利於提昇本網站的服務品質，且「衛生福利部人民申請案件線上服務系統」僅對全體使用者行為總和進行分析，並不會對個別使用者進行分析。</li>
        <li style="margin-bottom: 5px;">
            「衛生福利部人民申請案件線上服務系統」有義務保護各申請人隱私，非經您本人同意不會自行修改或刪除任何網路市民個人資料及檔案。除非經過您事先同意或符合以下情況始得為之：
            <ol>
                <li>經由合法的途徑。</li>
                <li>保護或防衛相關網路市民的權利或所有權。</li>
                <li>為保護本網站各相關經營單位之權益。</li>
            </ol>
        </li>
        <li>
            「衛生福利部人民申請案件線上服務系統」絕不會任意出售、交換、或出租任何您的個人資料給其他團體、個人或私人企業。但有下列情形者除外：
            <ol>
                <li>配合司法單位合法的調查。</li>
                <li>配合相關職權機關依職務需要之調查或使用。</li>
                <li>基於善意相信揭露為法律需要，或為維護和改進網站服務而用於管理</li>
            </ol>
        </li>
        <li>「衛生福利部人民申請案件線上服務系統」網站任何個人資料的網路傳遞皆經過128bit SSL的高傳輸加密機制，以確保資料在傳輸過程中不被第三者非法擷取。</li>
    </ul>
    <br />
    <span style="color: #006699;">‧關於個人應盡之義務</span>
    <ul>
        <li>凡登記成為「衛生福利部入口網站」網路會員並利用「衛生福利部人民申請案件線上服務系統」提供之線上申請服務者，皆有義務維持並更新其所屬個人資料，並確保該資料為正確、最新以及完整。</li>
        <li>若您提供任何錯誤或不實的資料，「衛生福利部人民申請案件線上服務系統」各相關經營單位有權拒絕您以該帳號使用網站之全部或部份服務。</li>
        <li>維持密碼及帳號的機密安全，是「衛生福利部人民申請案件線上服務系統」各相關經營單位與您共同的責任。</li>
        <li>您的密碼或帳號遭到盜用或有其他任何安全問題發生時，請您立即以電子郵件通知「衛生福利部人民申請案件線上服務系統」服務信箱，以便服務人員協助處理。</li>
        <li>確保每次連線完畢，均會登出帳號使用以保護個人帳號不會遭到其他人濫用。若您是與他人共享電腦或使用公共電腦，切記要關閉瀏覽器視窗，以防止他人讀取您的個人資料或信件。</li>
        <li>所有網路市民行為應遵循國內、外法律規範，並且對於個人所屬帳號、密碼所發生之情事負全部責任。</li>
    </ul>
    <br />
    <span style="color: #006699;">‧關於隱私權保護政策之諮詢與救濟</span>
    <ul>
        <li>若您的問題係關於線上繳費，請於服務時間聯絡線上繳費客戶服務熱線。</li>
        <li>如果您對於以上條款有任何疑問或意見，歡迎來信至意見信箱。</li>
        <li>如果「衛生福利部人民申請案件線上服務系統」本府各相關單位有違反本政策之行為時，歡迎來信至意見信箱檢舉。</li>
    </ul>
</div>