@using EECOnline.Areas.SHARE.Models;
@model OnlineHelpFormModel
@{
    Layout = "~/Views/Shared/_MainLayout_NoHeader_NoBg.cshtml";
}

<div class="col-sm-12">

    <iframe src="@Model.Help_Url" style="width:100%;height:500px"></iframe>

</div>

<script type="text/javascript">
   
</script>
