@model ES.Models.ViewModels.Apply_005014ViewModel

@{
    ViewBag.Title = "_CaseStatusFlow";
    // 案件狀態流程圖示
}

<div class="step_map">
    <ul>
        <li class="active">填寫申報表件並上傳檔案</li>
        <li>預覽申辦表件</li>
        <li>完成申報</li>
    </ul>
</div>
