@model ES.Models.ViewModels.Apply_005014ViewModel
@{
    ViewBag.Title = "_FileUpload";
    // 檔案上傳
}

<div id="_fileupload">
    <h2 class="second-title">
        佐證文件檔案上傳<span style="color:red">(單一檔案上限為5MB,僅准上傳PDF、JPG、BMP、PNG、TIF等檔案格式)</span>
        <button type="button" class="btn btn-save" v-on:click="add()">新增</button>
    </h2>
    <div class="form-group">
        <div class="col-sm-12" for="">
            請點選<button type="button" class="btn btn-save" v-on:click="add()">新增</button>增加上傳欄位，並上傳以下6項佐證文件，<span style="color:red;">*</span>號為必上傳文件。<br />
            <span style="color:red;">*</span>1.申請書(需蓋公司大小章)<br />
            <span style="color:red;">*</span>2.商業登記證明文件影本或其他證明文件<br />
            <span style="color:red;">*</span>3.切結書(須註明產品用途及蓋公司大小章)<br />
            4.產品資訊說明(含產品使用方式及最後處理方式)<br />
            5.進口報單影本<br />
            6.其他證明文件
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for="">佐證文件採合併檔案</label>
        <div class="col-sm-10">
            <label class="radio-inline ">
                @*<input type="radio" name="optradio" checked="">是*@
                @Html.RadioButtonFor(x => x.Detail.IS_MERGE_FILE, "Y") 是
            </label>
            <label class="radio-inline ">
                @*<input type="radio" name="optradio">否*@
                @Html.RadioButtonFor(x => x.Detail.IS_MERGE_FILE, "N") 否
            </label>
            <div> 若您是將檔案掃描後，於同一份文件內上傳，請選擇佐證文件採合併檔案"是"，檔案分開上傳請選擇"否" </div>
        </div>
    </div>

    <div class="form-group">
        <label class="step-label col-sm-2" for="">其他證明文件 1</label>
        <div class="col-sm-10">
            <div class="form-inline">
                <input type="file" class="form-control" name="UploadFiles" />
            </div>
        </div>
    </div>
    <div class="form-group" v-for="(item, index) in itemList">
        <label class="step-label col-sm-2" for="">其他證明文件 {{index + 2}}</label>
        <div class="col-sm-10">
            <div class="form-inline">
                <input type="file" class="form-control" v-bind:id="item" name="UploadFiles" />
                <button type="button" class="btn btn-danger" v-on:click="remove(item)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    var vm = new Vue({
        name: 'FileUpload',
        data: function () {
            return {
                itemList: []
            }
        },
        methods: {
            add: function () {
                var id = new Date().getTime().toString(); @* 唯一值 *@
                this.itemList.push(id);
            },
            remove: function (item) {
                this.itemList = this.itemList.filter(function (elm) {
                    return elm !== item;
                });
            }
        }
    });
    vm.$mount('#_fileupload');
</script>

