@{
    Layout = null;
}
<div id="detail1">
<div style="font-size: 1.2em; font-weight: bold; color: #0099FF;">
    @ViewBag.Dict["NAME"]
</div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-typeA table">
        <thead>
            <tr>
                <th style="width: 50px;">動作</th>
                <th>案件名稱</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.List.Count == 0)
            {
                <tr>
                    <td colspan="4" style="text-align: center;">查無資料</td>
                </tr>
            }
            @foreach (Dictionary<string, object> item in ViewBag.List)
            {
                <tr>
                    <td>
                        <input type="button" class="btn btn-save" value="維護" onclick="document.location.href='@Url.Action("List", new { id = @item["SRV_ID"] })';" />
                    </td>
                    <td>@item["NAME"]</td>
                </tr>
            }
        </tbody>
    </table>
<br />
</div>