<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - 衛生福利部線上申辦維護系統</title>
</head>
<body>
<center>
        @RenderBody()
</center>
</body>
</html>