<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>衛生福利部線上申辦維護系統</title>
    @Styles.Render("~/Content/Admin/css")
</head>
<body>
<center>
<div class="dMain">
    <div class="dHeader">
        <div class="dHeaderLogo"></div>
    </div>
    <div style="text-align: left; height: 500px;">
        @RenderBody()
    </div>
    <div class="dFooter2">
        <div style="float: left;">衛生福利部版權所有 Ministry of Health and Welfare, Exective Yuan R.O.C. (Taiwan) All rights reserved.</div>
    </div>
</div>
</center>
</body>
</html>