
    <!--   footer -->
    <section id="footer">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="footer-info">
                            <a href="#">資訊安全與隱私權政策</a>｜<a href="#">政府網站資料開放宣告</a><span>｜建議最佳解析度為1024*768或以上</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="footer-content">
                            <p>衛生福利部</p>
                            <p>地址：115204 台北市南港區忠孝東路6段488號</p>
                            <p>總機電話：(02)8590-6666</p>
                            <p>傳真號碼：(02)8590-6000</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>

<style>
    .go-to-top {
        display: none;
        width: 4.5rem;
        background-color: #fff;
        border: 1px solid #e6e6e7;
        border-radius: 8px;
        -webkit-box-shadow: 2px 2px 4px 0 rgba(33,37,41,.18);
        box-shadow: 2px 2px 4px 0 rgba(33,37,41,.18);
        color: #212529;
        display: block;
        font-size: .875rem;
        padding: .5rem .25rem .375rem;
        letter-spacing: 1px;
        filter: alpha(opacity=66);
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=66);
        opacity: .66;
        -webkit-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        z-index: 99
    }

        .go-to-top:hover {
            -webkit-box-shadow: 2px 2px 8px 0 rgba(33,37,41,.36);
            box-shadow: 2px 2px 8px 0 rgba(33,37,41,.36)
        }

        .go-to-top:focus:hover, .go-to-top:hover {
            color: #00bcd1
        }

        .go-to-top:focus, .go-to-top:focus:hover, .go-to-top:hover {
            filter: alpha(opacity=100);
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
            opacity: 1
        }

        .go-to-top:focus {
            outline: none
        }
</style>

<!-- Go Top Rocket -->
<button class="go-to-top" id="js-go-to" data-type="fixed" data-position='{"bottom": 20,"right": 20}' data-offset-top="200" data-compensation="header" data-show-effect="zoomIn">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="50" viewBox="0 0 90 100">
        <g transform="rotate(-45 59.95689424 61.29904125)">
            <path d="M37.328 76.238L24.11 63.019a1.857 1.857 0 01.768-3.088l6.991-2.145 10.693 10.693-2.145 6.991a1.858 1.858 0 01-3.089.768z" fill="#f47e60" />
            <path d="M52.584 92.847c7.624-6.472 4.221-13.342-.219-19.324a6.576 6.576 0 01-.111-7.694l6.924-9.889a5.411 5.411 0 019.408.981C74.157 70 72.641 87.067 52.584 92.847zM7.5 47.763c6.472-7.624 13.342-4.221 19.324.219a6.576 6.576 0 007.694.111l9.889-6.924a5.411 5.411 0 00-.981-9.408C30.353 26.19 13.281 27.707 7.5 47.763z" fill="#e15b64" />
            <path d="M76.207 56.9c-10.6 10.6-24.129 15.114-33.839 12.211L31.243 57.984c-2.906-9.71 1.611-23.244 12.21-33.843C62.034 5.56 86.491 5.242 90.4 9.151S94.375 38.727 76.207 56.9z" fill="#e0e0e0" />
            <circle cx="8.431" cy="8.431" r="8.431" transform="rotate(-45 66.02038024 -54.08953689)" fill="#77a4bd" />
            <path d="M90.4 9.151c-1.972-1.972-9.18-2.864-18.223-.88l19.4 19.405C93.348 18.5 92.354 11.1 90.4 9.151z" fill="#f47e60" />
        </g>
    </svg>
    <div class="thruster" id="flam_ani">
        <div class="flame-wrapper">
            <div class="flame flame_1"></div>
            <div class="flame flame_2"></div>
            <div class="flame flame_3"></div>
            <div class="flame flame_4"></div>
        </div>
    </div>
    <span>回頂端</span>
</button>