@{
    Layout = "~/Areas/BACKMIN/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "超商銷帳檔";
    ViewBag.FunctionTitle = "超商銷帳檔";
}
@using (Html.BeginForm("PayStoreFileUpload", "Pay", FormMethod.Post, new { ID = "ActionForm", enctype = "multipart/form-data" }))
{
    <div class="bread">
        <i class="fas fa-home"></i>首頁 / 帳務管理 / @ViewBag.Title
    </div>
    <div class="col-sm-12 content">
        <h1 class="main-title"><i class="fas fa-edit"></i>@ViewBag.FunctionTitle</h1>
        <div class="form-blue form-horizontal">
            <div class="form-group">
                <label class="main-label col-sm-2" for="">選擇檔案</label>
                <div class="col-sm-10">
                    <input type="file" id="Text_UploadFile" name="Text_UploadFile" value="" class="form-control" />
                </div>
            </div>
            <div class="btnbar">
                <input type="submit" value="上傳" class="btn btn-blue" />
            </div>
        </div>
    </div>
}
