@using EECOnline.Services;
@using EECOnline.Models;

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="board board-white">
                    <a class="accesskey" href="#aC" id="aC" accesskey="C" title="主要內容區">:::</a>
                    <ul class="breadcrumb" style="background-color: unset;">
                        <li><i class="fa fa-home"></i><a href="~/Home/Index">首頁</a></li>
                        <li><a href="~/Home/About">平台簡介</a></li>
                    </ul>
                    <h1 class="board-title titleBg-linear main-title"><i class="fas fa-clipboard-check"></i>平台簡介</h1>
                    <div class="news-content">
                        <h2 class="news-title"><a href="#">民眾線上申辦電子病歷服務上線了!<span class="news-data">2023/12/29</span></a></h2>
                        <hr class="text-secondary">
                        <p>
                            在「2025衛生福利科技政策白皮書」的「整合科技提升醫療服務效率及品質」中，「精進電子病歷（EMR）及發展個人健康紀錄（PHR）」被列為衛生福利科技政策未來發展的目標。而衛生福利部（以下簡稱衛福部）自2014年開始執行臺灣健康雲計畫，替國人建構無所不在的健康環境，期望藉著我國完善的資通訊基礎建設、優良的資通訊技術，並運用雲端化概念，建立即時、便利的個人健康管理系統，以資訊安全及保護個人資料為前提研擬健康資料回歸民眾之整合應用，並進一步提供醫療院所、衛生機構、健康服務提供者等互相合作的情境，推動雲端健康服務，促進臺灣醫療資訊科技發展，提升民眾整體健康，使國民能利用上述整合性運用來提高醫療健康水平，並藉以回應衛生福利科技政策白皮書所訂定的目標與策略。
                        </p>
                        @*
                            <hr class="text-secondary">
                            <div class="btnBar text-center">
                                <a href="~/Home/Index" class="btn btn-cancel">回首頁</a>
                            </div>
                        *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

</script>