@using EECOnline.Services;
@using EECOnline.Models;

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="board board-white">
                    <a class="accesskey" href="#aC" id="aC" accesskey="C" title="主要內容區">:::</a>
                    <ul class="breadcrumb" style="background-color: unset;">
                        <li><i class="fa fa-home"></i><a href="~/Home/Index">首頁</a></li>
                        <li><a href="~/Home/Sitemap">網站導覽</a></li>
                    </ul>
                    <h1 class="board-title titleBg-linear main-title"><i class="fas fa-sitemap"></i>網站導覽</h1>
                    <div class="news-content">
                        <h2 class="news-title"><a href="#"><span class="news-data">更新時間：2023/12/29</span></a></h2>
                        <hr class="text-secondary">
                        <p>
                            如果您使用的瀏覽器是IE，快速鍵的使用方式是 [Alt] 加上所定義的字母；如果您用Firefox 瀏覽網頁，快速鍵的使用方式是 [Alt] 加 [Shift] 加上所定義的字母：<br>
                            本網站的快速鍵﹝Accesskey﹞設定如下：
                        </p>
                        <ul>
                            <li>Alt+U：上方主導覽選單區塊。</li>
                            <!--<li>Alt+S：網站搜尋。</li>-->
                            <li>Alt+C：中央內容區塊。</li>
                            <li>Alt+Z：下方功能區塊。</li>
                        </ul>
                        <p>
                            ※當本網站項目頁籤無法以滑鼠點選時，您可利用以下鍵盤操作方式瀏覽資料<br>
                            ← → or ↑↓：按左右鍵或上下鍵移動標籤順序。<br>
                            Home or End→：可直接跳至標籤第一項或者最後一項。<br>
                            Tab：停留於該標籤後,可利用Tab鍵跳至內容瀏覽該筆資料，遇到radio按鈕時請配合使← → or↑↓鍵移動項目順序。<br>
                            Tab + Shift：按Tab + Shift可往回跳至上一筆資料；當跳回至標籤項目時您可繼續利用← → or↑↓鍵移動標籤順序。
                        </p>
                        <p>
                            二、相關事項說明<br>
                            (一)本宣告範圍僅及於著作權保護之範圍，不及於其他智慧財產權利(包括但不限於專利、商標、及機關標誌之提供)。<br>
                            (二)當事人自行公開或依法令公開之個人資料是否得被蒐集、處理及利用，使用者須自行依照個人資料保護法之相關規定，規劃並執行法律要求之相應措施。<br>
                            (三)部分的影音、圖像、樂譜、專人專案撰文或其他著作，經機關特別聲明須經同意方可使用者，不在本宣告所及範圍，其後續使用應另經機關同意。
                        </p>
                        <p>三、應注意尊重第三人之著作人格權(包括姓名表示權及禁止不當變更權)。</p>
                        <p>四、使用本宣告提供之資料與素材，不得惡意變更其相關資訊，若利用後所展示之資訊與原資料與素材不符，且得被依法歸責，使用者須自負民事、刑事上之法律責任。</p>
                        <p>五、本網站之宣告，並不授與使用者代表本機關建議、認可或贊同其加值衍生物之地位。</p>
                        <hr class="text-secondary">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

</script>