@using System.Collections.Generic
@using System.Collections
@model List<SelectListItem>

@foreach (SelectListItem item in Model)
{
    <option value="@(item.Value)" @(item.Selected ? "selected" : "")>@item.Text</option>
}
