@model ES.Areas.Admin.Models.ApplyDonateViewModel

<div class="form-group">
    <div class="col-sm-12">
        <div class="col-sm-10">
            @if (Model.Detail != null && Model.Detail.FileList != null && Model.Detail.FileList.Count > 0)
            {
                for (var i = 0; i < Model.Detail.FileList.Count; i++)
                {
                    @Html.HiddenFor(m => m.Detail.FileList)
                    @Html.FileDLForTurbo(m => m.Detail.FileList[i], Model.Detail.FileList[i])
                    <a href="#" onclick="DelFile('@Model.Detail.FileList[i]','@Model.Detail.SRV_ID_DONATE')" class="btn btn-blue">刪除</a>
                    <br />
                }
            }
        </div>
    </div>
</div>