
.adminTitle {
    background-color: #FFD700;
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px;
    text-align: left;
    color: #000;
}

.dMain {
    width: 1001px;
    padding-left: 3px;
    padding-right: 3px;
    background-image: url(../../Images/default/bg_main.png);
}

.dHeaderLogo {
    float: left;
    width: 354px;
    height: 70px;
    background-image: url(../../Images/default/logo.png);
}

.dBody {
    text-align: left;
    background-image: url(../../Images/default/bg_body.png);
    overflow: hidden;
}