body {
    font-size: .8em;
    font-family: Verdana, 新細明體;
    color: #232323;
    background-color: #CFF8FC;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #666666;
}

input, textarea {
    font-family: Verdana, 新細明體;
}

header, footer, nav, section {
    display: block;
}

.dMain {
    width: 1001px;
    padding-left: 3px;
    padding-right: 3px;
    background-image: url(../Images/default/bg_main.png);
}

.dHeader 
{
    overflow: hidden;
    text-align: left;
}

.dHeaderLeft {
    float: left;
}

.dHeaderLogo {
    width: 354px;
    height: 70px;
    background-image: url(../Images/default/logo.png);
}

#dHeaderMenu {
    background-color: #CFF8FC;
    padding: 5px 10px 5px 10px;
    border-radius: 0px 0px 5px 5px;
}

#dHeaderMenu a,a:link,a:visited,a:active {
    color: #068CD2;
    text-decoration: none;
}

#dHeaderMenu a:hover {
    color: #068CD2;
    text-decoration: underline;
}

.dBody {
    text-align: left;
    background-image: url(../Images/default/bg_body.png);
    overflow: hidden;
}

#dLeft {
    float: left;
    width: 214px;
    text-align: left;
    color: #FFFFFF;
    overflow: hidden;
}

#dLeft a,a:link,a:visited,a:active {
    color: #FFFFFF;
    text-decoration: none;
}

#dLeft a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.dRight {
    overflow: hidden;
    width: 787px;
    float: left;
}

#dRightMenu {
    padding: 15px 5px 15px 5px;
    font-size: 1.2em;
    background-color: #04C5B1;
    overflow: hidden;
    font-weight: bold;
    width: 777px;
    background: -ms-linear-gradient(left,#94E2DA,#04C5B1 20%);
    background: -moz-linear-gradient(left,#94E2DA,#04C5B1 20%);
    background: -webkit-linear-gradient(left,#94E2DA,#04C5B1 20%);
}

#dRightMenu div {
    padding: 0px 20px 0px 20px;
    float: left;
}

#dRightMenu a,a:link,a:visited,a:active {
    color: #083B4C;
    text-decoration: none;
}

#dRightMenu a:hover {
    color: #083B4C;
    text-decoration: underline;
}

.dRightLine {
    width: 700px;
    overflow: hidden;
    padding: 3px;
}

.dFooter1 {
    height: 137px;
    color: #068CD2;
    text-align: left;
    background-image: url(../Images/default/bg_bottom.png);
    overflow: hidden;
}

.dFooter2 {
    color: #FFFFFF;
    padding: 20px 20px 20px 20px;
    background-color: #535353;
    overflow: hidden;
    text-align: left;
}

#dFooterMenu a,a:link,a:visited,a:active {
    color: #03F7DE;
    text-decoration: none;
}

#dFooterMenu a:hover {
    color: #03F7DE;
    text-decoration: underline;
}

.dLoginTab {
    overflow: hidden;
    padding-left: 2px;
}

.dLoginTab1 {
    background-color: #2089D2;
    border-radius: 10px 10px 0px 0px;
    float: left;
    padding: 7px 0px 3px 0px;
    font-size: 1.2em;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 3px;
    text-align: center;
    width: 100px;
}

.dLoginTab2 {
    background-color: #9DD1EF;
    border-radius: 10px 10px 0px 0px;
    float: left;
    padding: 7px 0px 3px 0px;
    font-size: 1.2em;
    font-weight: bold;
    color: #1D73A9;
    margin-left: 3px;
    cursor: pointer;
    text-align: center;
    width: 100px;
}

.dLeftLogin {
    background-color: #2089D2;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 10px 10px 10px;
    overflow:hidden;
    text-align: left;
    height: 120px;
}

.dLeftTitle {
    width: 204px;
    padding: 5px 5px 5px 5px;
    background-color: #003F3F;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}

.dLeftBody {
    padding: 5px 5px 5px 5px;
    line-height: 1.6em;
    overflow: hidden;
}

.dLeftBodyItem {
    width: 170px;
    height: 28px;
    color: #068CD2;
    font-size: 1.2em;
    padding: 8px 0px 0px 30px;
    background-image: url(../Images/default/main_item.png);
}

.formTable1 {
    border: 1px solid #D8D8D8;
    border-collapse: collapse;
    width: 100%;
}

.formTable1 caption {
    border-top: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    color: #2089D2;
    padding: 10px 10px 5px 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: #D1EAFD;
    background: -ms-linear-gradient(left,#D1EAFD,#FFFFFF);
    background: -moz-linear-gradient(left,#D1EAFD,#FFFFFF);
    background: -webkit-linear-gradient(left,#D1EAFD,#FFFFFF);
}

.formTable1 tr {
    /*border: 1px solid #D8D8D8;*/
}

.formTable1 td {
    color: #2C628E;
    vertical-align: top;
    text-align: left;
    padding: 5px;
    border-top: 1px solid #D8D8D8;
}

.formTable1 th {
    background-color: #F2FAFF;
    color: #00A090;
    vertical-align: top;
    text-align: right;
    padding: 10px 5px 5px 5px;
    font-weight: normal;
    border-top: 1px solid #D8D8D8;
}

.formTable1 a,a:link,a:visited,a:active {
    color: #2C628E;
    text-decoration: none;
}

.formTable1 a:hover {
    color: #2C628E;
    text-decoration: underline;
}


.formTable1Title {
    color: #00A090;
    font-weight: normal;
}

.formTable1 div {
    padding: 5px 0px 0px 0px;
}

.formRequired {
    color: #FF0000;
}

.formErrorMessage {
    padding: 0px;
    display: block;
}

.formButtomBar {
    text-align: center;
    padding: 5px;
}

div.ui-datepicker {
    font-family: Verdana, 新細明體;
    font-size: 1em;
}

.gridTable1 {
    border: 1px solid #D8D8D8;
    border-collapse: collapse;
    width: 100%;
}

.gridTable1 caption {
    border-top: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    color: #2089D2;
    padding: 10px 10px 5px 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: #D1EAFD;
    background: -ms-linear-gradient(left,#D1EAFD,#FFFFFF);
    background: -moz-linear-gradient(left,#D1EAFD,#FFFFFF);
    background: -webkit-linear-gradient(left,#D1EAFD,#FFFFFF);
}

.gridTable1 tr {
    /*border: 1px solid #D8D8D8;*/
}

.gridTable1 td {
    color: #2C628E;
    vertical-align: top;
    text-align: left;
    padding: 3px;
}

.gridTable1 tr:hover {
    background-color: #EEEEEE;
}

.gridTable1 th {
    background-color: #F2FAFF;
    color: #00A090;
    vertical-align: top;
    text-align: left;
    padding: 3px;
    font-weight: normal;
}

.gridTable2 {
    border: 1px solid #D8D8D8;
    border-collapse: collapse;
    width: 100%;
}

.gridTable2 caption {
    border-top: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    color: #2089D2;
    padding: 2px 5px 2px 5px;
    border-radius: 10px 10px 0px 0px;
    background-color: #D1EAFD;
    background: -ms-linear-gradient(left,#D1EAFD,#FFFFFF);
    background: -moz-linear-gradient(left,#D1EAFD,#FFFFFF);
    background: -webkit-linear-gradient(left,#D1EAFD,#FFFFFF);
}

.gridCaptionIcon {
    float: left;
    width: 32px;
    height: 32px;
    background-image: url(../Images/icon/icon_pine.png);
}

.gridCaptionTitle {
    float: left;
    padding: 8px 5px 5px 2px;
}

.gridTable2 tr {
    /*border: 1px solid #D8D8D8;*/
}

.gridTable2 td {
    color: #2C628E;
    vertical-align: top;
    text-align: left;
    padding: 3px;
    border-top: 1px solid #D8D8D8;
}

.gridTable2 tr:hover {
    background-color: #EEEEEE;
}

.gridTable2 th {
    background-color: #F2FAFF;
    color: #00A090;
    vertical-align: top;
    text-align: left;
    padding: 8px 3px 6px 3px;
    font-weight: normal;
}

.divHistorySearch {
    background-color: #EEEEEE;
    padding: 5px;
    margin: 5px 0px 5px 0px;
    cursor:pointer;
}

.divFormTableTitle {
    background-color: #EEEEEE;
    padding: 5px;
    margin: 5px 0px 5px 0px;
    cursor:pointer;
}

.homeUnitnc{  /*2019護理及健康照護司 首頁圖片*/
	
}

.homeUnitTop {
    border-top: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-radius: 10px 10px 0px 0px;
    float: left;
    width: 135px;
    height: 270px;
    margin-right: 8px;
    padding: 7px;
}
.homeUnitBottom {
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    border-radius: 0px 0px 10px 10px;
    background-color: #CFF7FC;
    float: left;
    width: 135px;
    margin-right: 8px;
    padding: 0px 7px 0px 7px;
    height: 520px;
}
.homeUnitBottomA {
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    border-radius: 0px 0px 10px 10px;
    background-color: #CFF7FC;
    float: left;
    width: 135px;
    margin-right: 8px;
    margin-bottom: 10px;
    padding: 0px 7px 0px 7px;
    height: 165px;
}
.homeUnitBottomB{
	border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    border-radius: 0px 0px 10px 10px;
    background-color: #CFF7FC;
    float: left;
    width: 135px;
    margin-right: 8px;
    margin-bottom: 10px;
    padding: 0px 7px 0px 7px;
    height: 60px;
}
.imgDeleteButton {
    cursor:pointer;
    background-image: url(../Images/icon/cross-icone-5804-16.png);
    width: 16px;
    height: 16px;
}

.ajax_loader 
{
    background: url("../Images/icon/spinner_squares_circle.gif") no-repeat center center transparent;
    width:100%;
    height:100%;
}

/* JQuery UI
-----------------------------------------------------------*/
/*
.ui-datepicker .ui-datepicker-title {
    white-space: nowrap;
}
*/
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 40%;
}

.ui-dialog{font-size: 1em;}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
